jsonschema~=4.18.6
requests~=2.32.3
torchvision~=0.21.0
numpy~=1.26.4
tensorflow~=2.19.0
pandas~=2.2.3
scikit-learn~=1.5.2
torch~=2.6.0
huggingface-hub~=0.29.3
pillow~=11.1.0
setuptools~=75.4.0
shap~=0.46.0
fairlearn~=0.11.0