name: CI

on: [push]

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run tests
        run: |
          pip install -r requirements.txt
          python3 -m unittest tests/test_patra_mc.py
          python3 -m unittest tests/test_patra_inout_data.py
          python3 -m unittest tests/test_patra_hash_id.py